<!-- Admin Index content template -->

                <div class="content" id="contentAdminIndex">
                    <header><h1>Головна</h1></header>
                        <p>Main Admin Panel Page</p>
                </div>

<!-- Admin Index content template -->
