<? session_start();
if (!isset($_SESSION['user_id']))
{
    header('Content-Type: text/html; charset=utf-8');
    die('<a href="login.php">Необхідно увійти в систему</a>');
}
?>

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><?=$title?></title>
        <link rel="stylesheet" type="text/css" href="styles/main.css">
        <link rel="icon" href="favicon.ico" type="image/x-icon"/>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    </head>
    <body>
        <div id="mainWrapper">
            <? include('header.tmpl'); ?>
            <? include('adminmenu.tmpl'); ?>
            <header><h1 id="adminPanel">Панель адміністратора</h1></header>
            <? include($content_tmpl.'.tmpl'); ?>
            <? include('footer.tmpl'); ?>
        </div>
    </body>
</html>