<!-- Admin menu template -->

            <nav class="navMenu" id="menuBlock1">
                <a class="menu <? if ($mainmenuindex == 3) { echo 'menuSelected'; } ?>" id="menuPromoEditor" href="promoeditor.php">Редагування основної промоції</a>
                <a class="menu <? if ($mainmenuindex == 2) { echo 'menuSelected'; } ?>" id="menuPromo2Editor" href="promo2editor.php">Редагування додаткових промоцій</a>
                <a class="menu <? if ($mainmenuindex == 4) { echo 'menuSelected'; } ?>" id="menuFiles" href="helpindex.php">Допомога</a>
                <a class="menu <? if ($mainmenuindex == 1) { echo 'menuSelected'; } ?>" id="menuExit" href="login.php?logout">ВИЙТИ З РЕЖИМУ АДМІНІСТРАТОРА</a>
            </nav>

<!-- Admin menu template -->