<!-- Admin content template (1 column) -->

            <section id="sectionAdmin">
            <!-- MAIN SECTION -->
                <? include($maincontent_tmpl.'.tmpl'); ?>
            <!-- END OF MAIN SECTION -->
            </section>

<!-- Admin content template (1 column) -->
