<!-- Admin menu template -->

            <nav class="navMenu" id="menuBlock1">
                <a class="menu <? if ($mainmenuindex == 1) { echo 'menuSelected'; } ?>" id="menuAadmin" href="admin.php">Головна</a>
                <a class="menu <? if ($mainmenuindex == 2) { echo 'menuSelected'; } ?>" id="menuTextEditor" href="texteditor.php">Редактор</a>
                <a class="menu <? if ($mainmenuindex == 3) { echo 'menuSelected'; } ?>" id="menuPromoEditor" href="promoeditor.php">Редагування основної промоції</a>
            </nav>

<!-- Admin menu template -->