<!-- Articles Editor content template -->

    <?
        $get_all = true;
        include('getarticles.php');
    ?>
        <div class="content" id="contentArticlesEditor">
            <form action="updatearticles.php" method="post">
                <input type="hidden" name="count" value="<?=$count?>">
                <table>
                    <thead>
                        <td>файл</td>
                        <td>заголовок</td>
                        <td>відображати</td>
                        <td>&nbsp;</td>
                    </thead>
                    <?
                    $i = 0;
                    foreach ($articles as $article) { 
                        ?>
                            <input type="hidden" name="<?='articlefile'.$i?>" value="<?=$article?>">
                            <tr>
                                <td><?=$article?></td>
                                <td><input type="text" name="articletitle<?=$i?>" value="<?=$articles_title[$i]?>" /></td>
                                <td><input type="checkbox" name="articleactive<?=$i?>" <? if ($articles_active[$i] == 1) {echo 'checked';} ?> value="1"/></td>
                                <td><a href="articleseditor.php?articleindex=<?=$i?>">редагувати</a></td>
                            </tr>
                        <?
                        $i++;
                    }
                    ?>
                </table>
                <input type="submit" value="Зберегти зміни">
            </form>
            <form action="newarticle.php" method="post">
                <input type="submit" value="Додати нову статтю">
            </form>
        </div>

<!-- Articles Editor content template -->