<!-- Main container -->
<div class="sliderkit">

    <!-- Nav container -->
    <div class="sliderkit-nav">
    
        <!-- Nav clip -->
        <div class="sliderkit-nav-clip">
            <ul>
                <li><a href="shop.php" rel="nofollow" title="[link title]"><img src="styles/icons/01.jpg"></a></li>
                <li><a href="shop.php" rel="nofollow" title="[link title]"><img src="styles/icons/02.jpg"></a></li>
                <li><a href="shop.php" rel="nofollow" title="[link title]"><img src="styles/icons/03.jpg"></a></li>
                <li><a href="shop.php" rel="nofollow" title="[link title]"><img src="styles/icons/04.jpg"></a></li>
                <li><a href="shop.php" rel="nofollow" title="[link title]"><img src="styles/icons/05.jpg"></a></li>
                <li><a href="shop.php" rel="nofollow" title="[link title]"><img src="styles/icons/06.jpg"></a></li>
                <li><a href="shop.php" rel="nofollow" title="[link title]"><img src="styles/icons/07.jpg"></a></li>
                <li><a href="shop.php" rel="nofollow" title="[link title]"><img src="styles/icons/08.jpg"></a></li>
                <li><a href="shop.php" rel="nofollow" title="[link title]"><img src="styles/icons/09.jpg"></a></li>
                <li><a href="shop.php" rel="nofollow" title="[link title]"><img src="styles/icons/10.jpg"></a></li>
                <li><a href="shop.php" rel="nofollow" title="[link title]"><img src="styles/icons/11.jpg"></a></li>
                <li><a href="shop.php" rel="nofollow" title="[link title]"><img src="styles/icons/12.jpg"></a></li>
                <li><a href="shop.php" rel="nofollow" title="[link title]"><img src="styles/icons/13.jpg"></a></li>
                <li><a href="shop.php" rel="nofollow" title="[link title]"><img src="styles/icons/14.jpg"></a></li>
                <li><a href="shop.php" rel="nofollow" title="[link title]"><img src="styles/icons/15.jpg"></a></li>
                <li><a href="shop.php" rel="nofollow" title="[link title]"><img src="styles/icons/16.jpg"></a></li>
                <li><a href="shop.php" rel="nofollow" title="[link title]"><img src="styles/icons/17.jpg"></a></li>
                <li><a href="shop.php" rel="nofollow" title="[link title]"><img src="styles/icons/18.jpg"></a></li>
                <li><a href="shop.php" rel="nofollow" title="[link title]"><img src="styles/icons/19.jpg"></a></li>
                <li><a href="shop.php" rel="nofollow" title="[link title]"><img src="styles/icons/20.jpg"></a></li>
                <li><a href="shop.php" rel="nofollow" title="[link title]"><img src="styles/icons/21.jpg"></a></li>
                <li><a href="shop.php" rel="nofollow" title="[link title]"><img src="styles/icons/22.jpg"></a></li>
                <li><a href="shop.php" rel="nofollow" title="[link title]"><img src="styles/icons/23.jpg"></a></li>
                <li><a href="shop.php" rel="nofollow" title="[link title]"><img src="styles/icons/24.jpg"></a></li>
                <li><a href="shop.php" rel="nofollow" title="[link title]"><img src="styles/icons/25.jpg"></a></li>
                <li><a href="shop.php" rel="nofollow" title="[link title]"><img src="styles/icons/26.jpg"></a></li>
                <li><a href="shop.php" rel="nofollow" title="[link title]"><img src="styles/icons/27.jpg"></a></li>
                <li><a href="shop.php" rel="nofollow" title="[link title]"><img src="styles/icons/28.jpg"></a></li>
                <li><a href="shop.php" rel="nofollow" title="[link title]"><img src="styles/icons/29.jpg"></a></li>
                <li><a href="shop.php" rel="nofollow" title="[link title]"><img src="styles/icons/30.jpg"></a></li>
                <li><a href="shop.php" rel="nofollow" title="[link title]"><img src="styles/icons/31.jpg"></a></li>
                <li><a href="shop.php" rel="nofollow" title="[link title]"><img src="styles/icons/32.jpg"></a></li>
                <li><a href="shop.php" rel="nofollow" title="[link title]"><img src="styles/icons/33.jpg"></a></li>
                <li><a href="shop.php" rel="nofollow" title="[link title]"><img src="styles/icons/34.jpg"></a></li>
                <li><a href="shop.php" rel="nofollow" title="[link title]"><img src="styles/icons/35.jpg"></a></li>
                <li><a href="shop.php" rel="nofollow" title="[link title]"><img src="styles/icons/36.jpg"></a></li>
                <li><a href="shop.php" rel="nofollow" title="[link title]"><img src="styles/icons/37.jpg"></a></li>
                <li><a href="shop.php" rel="nofollow" title="[link title]"><img src="styles/icons/38.jpg"></a></li>
                <li><a href="shop.php" rel="nofollow" title="[link title]"><img src="styles/icons/39.jpg"></a></li>
                <li><a href="shop.php" rel="nofollow" title="[link title]"><img src="styles/icons/40.jpg"></a></li>
                <li><a href="shop.php" rel="nofollow" title="[link title]"><img src="styles/icons/41.jpg"></a></li>
                <li><a href="shop.php" rel="nofollow" title="[link title]"><img src="styles/icons/42.jpg"></a></li>
                <li><a href="shop.php" rel="nofollow" title="[link title]"><img src="styles/icons/43.jpg"></a></li>
                <li><a href="shop.php" rel="nofollow" title="[link title]"><img src="styles/icons/44.jpg"></a></li>
                <li><a href="shop.php" rel="nofollow" title="[link title]"><img src="styles/icons/45.jpg"></a></li>
            </ul>
        </div>
        
        <!-- Nav buttons -->
        <div class="sliderkit-nav-btn sliderkit-nav-prev"><a rel="nofollow" href="#" title="Previous line"><span>&lt;&lt;</span></a></div>
        <div class="sliderkit-nav-btn sliderkit-nav-next"><a rel="nofollow" href="#" title="Next line"><span>&gt;&gt;</span></a></div>
    
    </div><!-- // end of Nav container -->
</div>