<!-- About content template -->

                <div class="content" id="contentOrder">
                    <header><h1><?=$_order_titles[$order_index]?></h1></header>
                        <p>Тут треба написати якийсь прикольний текст, типу що замовлення онлайн є найшвидшим і найкращим. Але якщо у вас не получається, то ви також, звісно можете зробити замовлення надіславши листа на sauto@mail.ua або зателефонувавши за телефонами +38000....</p>
                        <div class="orderForm">
                            <form action="orderonline.php" method="POST">
                                <input type="hidden" name="action" value="save">
                                <p>коментар</p>
                                <textarea name="descr"></textarea>
                                <input type="submit" value="Зробити замовлення">
                            </form>
                        </div>
                </div>

<!-- About content template -->
