<!-- About content template -->

                <div class="content" id="contentAbout">
                    <div class="fb-like" data-href="<?=curPageURL()?>" data-send="true" data-width="600" data-show-faces="false"></div>
                    <header><h1>Про нас</h1></header>
                        <p>Компанія <a href="index.htm">SAUTO</a> є одним з найкрупніших дистреб’ютерів якісних авто-мотозапчастин на ринку України. Компанія є офіційним партнером таких крупних, відомих дистриб’ютерських об’єднань, як: <a href=" http://www.intercars.com.pl/">InterCars</a>, <a href="http://www.polcar.com/">Polcar</a>, <a href="http://www.autopartner.pl/">Autopartner</a>. Компаній, які займають левову частку на ринку, серед постачальників авто-мотозапчастин Центрально-Східної Європи. Компанії котируються на фондових біржах, що свідчить про їх високу надійність та престиж. Окрім торгівлі, займаються також виробництвом власної авто-мотопродукції та ремонтом.</p>
                        
                        <p><a href="index.htm">SAUTO</a> займається дистриб’юцією авто-мотозапчастин та перебуває на даному сегменті ринку України вже 8 років. Наші пропозиції охоплюють понад мільйон різноманітних запчастин до легкових, грузових автомобілів та мотоциклів. Незалежно від того, якої марки Ваш автомобіль: європейської чи азіатської, Ви зможете знайти до нього повний асортимент запчастин, а також скористатись великим вибором інструментів та обладнання  для автосервісу.</p>
                        <p>Основною метою компанії <a href="index.htm">SAUTO</a> є пропозиція продажу якісних запасних частин до великого спектру самохідних засобів пересування, що супроводжується помірною, адекватною для ринку України ціновою політикою.</p>
                        <p>Компетентні консультанти допоможуть Вам з вибором потрібної позиції, зручність розрахунків: як готівковим так і безготівковим шляхом, гнучка співпраця, безперебійність поставок не залишає без уваги, як оптових так і роздрібних клієнтів.</p>
                </div>

<!-- About content template -->
