<!-- Hot content template (list or grid view) -->

        <div class="content" id="contentHot">
            <? include('socialpanel.tmpl'); ?>
            <header><h1>Акційні пропозиції</h1></header>
                <? include('contentpromo.tmpl'); ?>
                <header><h1>А також</h1></header>
                <? include('contentpromo2.tmpl'); ?>
        </div>

<!-- Hot content template (list or grid view) -->
