<!-- Hot content template (list or grid view) -->

        <div class="content" id="contentHot">
            <? include('socialpanel.tmpl'); ?>

            <header><h1>Акційні пропозиції</h1></header>
            <div class="scrollBox">
                <div id="pane1" class="scroll-pane">
                    <? include('contentpromo.tmpl'); ?>
                </div>
            </div>

            <header><h1>А також</h1></header>
            <div class="scrollBox">
                <div id="pane2" class="scroll-pane">
                    <? include('contentpromo2.tmpl'); ?>
                </div>
            </div>
        </div>

<!-- Hot content template (list or grid view) -->
