<!-- Under Construction content template -->

                <div class="content" id="contentUC">
                    <header><h1>Розділ розробляється</h1></header>
                        <p>Вибачте! Даний розділ розробляється, заходьте згодом.</p>
                </div>

<!-- Under Construction content template -->
