<!-- Hot content template (list or grid view) -->

        <div class="content" id="contentHot">
            <div class="fb-like" data-href="<?=curPageURL()?>" data-send="true" data-width="600" data-show-faces="false"></div>
            <header><h1>Гарячі пропозиції</h1></header>
                <? include('contentpromo.tmpl'); ?>
                <header><h1>А також</h1></header>
                <? if ($_GET['view'] == 'grid') {
                    include('contenthot_viewgrid.tmpl');
                } else {
                    include('contenthot_viewlist.tmpl');
                } ?>
        </div>

<!-- Hot content template (list or grid view) -->
