<!-- Catalog content template -->

                <div class="content" id="contentCatalog">
                    <? include('socialpanel.tmpl'); ?>
                    <header><h1>On-line каталог запчастин</h1></header>
                        <h3>Каталоги від наших партнерів</h3>
                        <p><a href="http://sklep.intercars.com.pl/#katalog" target="_blank">Каталог запчастин компанії INTERCARS</a></p>
                </div>

<!-- Catalog content template -->
