<!-- Footer and friends adv template -->

            <div style="clear: both;"></div>
            <footer id="footerMain">
                <a href="http://top.topua.net/rating/1/1/1a.html"><img src="http://top.topua.net/counter.php?site=6402&t=2&c=19" border="0" style="padding: 5px;" alt="Український рейтинг TOP.TOPUA.NET" /></a>
                <span class="copyText">&copy; SAUTO 2013, розробка: gzoreslav@gmail.com<span>
            </footer>

<!-- Footer and friends adv template -->
