<!-- Order User Info content template -->

                                <div class="orderBlock">
                                    <h3>Контактна інформація</h3>
                                </div>

                                <div class="orderBlock" id="orderNicknameBlock">
                                    <label for="editNickname">
                                        <span class="orderTitle">Ваше ім&apos;я:
                                            <span class="required">*</span>
                                        </span>
                                    </label>
                                    <input type="text" class="editText" maxlength="50" name="nickname">
                                </div>

                                <div class="orderBlock" id="orderEmailBlock">
                                    <label for="editEmail">
                                        <span class="orderTitle">Email:
                                            <span class="required">*</span>
                                        </span>
                                    </label>
                                    <input type="text" class="editText" maxlength="50" name="email">
                                    <div class="orderHelper">Будь-ласка вказуйте вірний email. Так наші менеджери зможуть швидко з вами зв&apos;язатись. Ми не передаємо ваш email третім особам і не використовуємо його для розсилки.</div>
                                </div>

                                <div class="orderBlock" id="orderPhoneBlock">
                                    <label for="editPhone">
                                        <span class="orderTitle">Номер телефону:
                                            <span class="required">*</span>
                                        </span>
                                    </label>
                                    <input type="text" class="editText" maxlength="50" name="phone">
                                    <div class="orderHelper">Будь-ласка вказуйте вірний номер телефону. Так наші менеджери зможуть швидко з вами зв&apos;язатись. Ми не передаємо ваш номер телефону третім особам і не використовуємо його для розсилки.</div>
                                </div>

<!-- Order User Info content template -->