<!-- Order Review content template -->

                                <div class="orderBlock">
                                    <h3>Додаткова інформація</h3>
                                </div>

                                <div class="orderBlock" id="orderReviewBlock">
                                    <label for="editDescr">
                                        <span class="orderTitle">Ваші відгуки щодо роботи нашого сайту:</span>
                                    </label>
                                    <textarea class="editDescr" name="review" cols="50"></textarea></br>
                                    <div class="orderHelper">Ваш об&apos;єктивний відгук допоможе покращити наш сайт. Дана інформація ніяк не буде використана при обробці замовлення.</div>
                                </div>

<!-- Order Review content template -->
