<!-- Order Details Online content template -->

    <!-- jquery validations script -->
    <script type="text/javascript" src="validate_online.js"></script>

    <div class="orderBlock">
        <h3>Деталі замовлення</h3>
    </div>

                                <div class="orderBlock" id="orderDetailBlock">
                                    <label for="editEmail">
                                        <span class="orderTitle">Назва запчастини:
                                            <span class="required">*</span>
                                        </span>
                                    </label>
                                    <input type="text" class="editText" maxlength="50" name="detail">
                                    <div class="orderHelper">Якщо вам необхідно замовити декілька деталей, чи різні деталі, то будь-лака вказуйте це у примітках.</div>
                                </div>
    <div style="clear: both;"></div>

                                <div class="orderBlock" id="orderAutoBlock">
                                    <label for="editEmail">
                                        <span class="orderTitle">Марка та модель авто:
                                            <span class="required">*</span>
                                        </span>
                                    </label>
                                    <input type="text" class="editText" maxlength="50" name="auto">
                                </div>
    <div style="clear: both;"></div>

                                <div class="orderBlock" id="orderAutoYearBlock">
                                    <label for="editEmail">
                                        <span class="orderTitle">Рік випуску:
                                            <span class="required">*</span>
                                        </span>
                                    </label>
                                    <input type="text" class="editText" maxlength="50" name="autoyear">
                                </div>
    <div style="clear: both;"></div>

                                <div class="orderBlock" id="orderAutoBodyNoBlock">
                                    <label for="editEmail">
                                        <span class="orderTitle">Номер кузова:
                                            <span class="required">*</span>
                                        </span>
                                    </label>
                                    <input type="text" class="editText" maxlength="50" name="autobodyno">
                                </div>
    <div style="clear: both;"></div>

                                <div class="orderBlock" id="orderVinBlock">
                                    <label for="editEmail">
                                        <span class="orderTitle">VIN-код запчастини:
                                            <span class="required">*</span>
                                        </span>
                                    </label>
                                    <input type="text" class="editText" maxlength="50" name="vin">
                                </div>
    <div style="clear: both;"></div>

    <div class="orderBlock" id="orderDescrBlock">
                                    <label for="editDescr">
                                        <span class="orderTitle">Примітки щодо замовлення:</span>
                                    </label>
                                    <textarea class="editDescr" name="descr" cols="50"></textarea>
                                    <div class="orderHelper">Будь-ласка вказуйте в коментарі додаткові параметри замовлення якщо необхідно.</div>
    </div>
    <div style="clear: both;"></div>

<!-- Order Details Online content template -->
