<!-- Order Review content template -->

    <div class="hideAddParams" onclick="$('.addReview').toggle();">залишити відгук про наш сайт</div>
    <div class="addReview" style="display: none;">
                                <div class="orderBlock" id="orderReviewBlock">
                                    <label for="editDescr">
                                        <span class="orderTitle">Ваші відгуки щодо роботи нашого сайту:</span>
                                    </label>
                                    <textarea class="editDescr" name="review" cols="50"></textarea>
                                    <div class="orderHelper">Ваш об&apos;єктивний відгук допоможе покращити наш сайт. Дана інформація ніяк не буде використана при обробці замовлення.</div>
                                </div>
        <div style="clear: both;"></div>
    </div>

<!-- Order Review content template -->
