<!-- Order Details Partner content template -->

    <!-- jquery validations script -->
    <script type="text/javascript" src="validate_partner.js"></script>

    <div class="orderBlock">
        <h3>Деталі замовлення</h3>
    </div>

    <div class="orderBlock" id="orderFile">
                                    <label for="editFile">
                                        <span class="orderTitle">Замовлення:
                                            <span class="required">*</span>
                                        </span>
                                    </label>
                                    <div class="orderWrapper">
                                        <div id="uploader">
                                            <p>Ваш браузер не підтримує завантаження файлів</p>
                                        </div>
                                    </div>
                                    <div class="orderHelper">Файл(и)-замовлення з терміналу наших партнерів</div>
    </div>

    <!-- uploader script body -->
    <?php include('uploader.tmpl'); ?>
    <div style="clear: both;"></div>

    <div class="orderBlock" id="orderDescrBlock">
                                    <label for="editDescr">
                                        <span class="orderTitle">Примітки щодо замовлення:</span>
                                    </label>
                                    <textarea class="editDescr" name="descr" cols="50"></textarea>
                                    <div class="orderHelper">Будь-ласка вказуйте в коментарі додаткові параметри замовлення якщо необхідно.</div>
    </div>

    <div style="clear: both;"></div>

<!-- Order Details Partner content template -->
