<!-- Order Details Partner content template -->

                                <div class="orderBlock">
                                    <h3>Деталі замовлення</h3>
                                </div>

                                <div class="orderBlock" id="orderFile">
                                    <label for="editFile">
                                        <span class="orderTitle">Файл-замовлення:
                                            <span class="required">*</span>
                                        </span>
                                    </label>
                                    <input type="file" name="filename" accept="*.txt" size="18">
                                    <div class="orderHelper">Файл-замовлення з терміналу наших партнерів</div>
                                </div>

                                <div class="orderBlock" id="orderDescrBlock">
                                    <label for="editDescr">
                                        <span class="orderTitle">Примітки щодо замовлення:</span>
                                    </label>
                                    <textarea class="editDescr" name="descr" cols="50"></textarea></br>
                                    <div class="orderHelper">Будь-ласка вказуйте в коментарі додаткові параметри замовлення якщо необхідно.</div>
                                </div>

<!-- Order Details Partner content template -->
