<!-- Order Details Partner content template -->

                                <div class="orderBlock">
                                    <h3>Деталі замовлення</h3>
                                </div>

                                <div class="orderBlock" id="orderFile">
                                    <label for="editFile">
                                        <span class="orderTitle">Замовлення:
                                            <span class="required">*</span>
                                        </span>
                                    </label>
                                    <input type="file" name="filename[]" class="uploadFile" multiple="" size="15" />
                                    <div class="orderHelper">Файл(и)-замовлення з терміналу наших партнерів<br/><br/>
                                    (натисніть кнопку і виберіть файл(и) або перетягніть файл(и) мишкою на сірий прямокутник ліворуч)</div>
                                </div>

                                <div style="clear: both;"></div>

                                <div class="orderBlock" id="orderDescrBlock">
                                    <label for="editDescr">
                                        <span class="orderTitle">Примітки щодо замовлення:</span>
                                    </label>
                                    <textarea class="editDescr" name="descr" cols="50"></textarea>
                                    <div class="orderHelper">Будь-ласка вказуйте в коментарі додаткові параметри замовлення якщо необхідно.</div>
                                </div>

                                <div style="clear: both;"></div>

<!-- Order Details Partner content template -->
