<!-- Hot content template (list or grid view) -->

        <iframe class="frame" id="frameHot" src="framehot.php">
            <? include('socialpanel.tmpl'); ?>
            <header><h1>Акційні пропозиції</h1></header>
                <? include('contentpromo.tmpl'); ?>
                <header><h1>А також</h1></header>
                <? include('contentpromo2.tmpl'); ?>
        </iframe>

<!-- Hot content template (list or grid view) -->
