<!-- Header and social block template -->

            <div id="socialBlock">
                <div class="social" id="socialFB" onclick="window.open('https://www.facebook.com/groups/sauto/', '_blank');">FB</div>
                <div class="social" id="socialVK" onclick="window.open('http://vk.com/club53362309', '_blank');">VK</div>
                <div class="social" id="socialPrivat24" onclick="window.open('https://privat24.ua/', '_blank');">Privat 24</div>
            </div>
            <header>
                <div id="logoMain" onclick="location.href='index.php';">
                    <div class="gradient" id="phone">
                        <div class="phoneNo" id="ks">(097) 99 05 219</div>
                        <div class="phoneNo" id="mts">(050) 72 12 999</div>
                        <div class="email">sauto@mail.ua</div>
                        <div class="skype">sauto.sauto</div>
                    </div>
                    <p class="l1">Автозапчастини</p>
                    <p class="l2">в наявності</p>
                    <p class="l3">та під замовлення</p>
                </div>
            </header>

<!-- Header and social block template -->
