<!-- Header and social block template -->

            <div id="socialBlock">
                <div class="social" id="socialFB" onclick="window.open('https://www.facebook.com/groups/sauto/', '_blank');">FB</div>
                <div class="social" id="socialVK" onclick="window.open('http://vk.com/club53362309', '_blank');">VK</div>
                <div class="social" id="socialO">O</div>
                <div class="social" id="socialt">t</div>
            </div>
            <header>
                <div id="logoMain" onclick="window.open('http://www.sauto.if.ua');">
                    <div class="gradient" id="phone"><p>Контакти:</p>
                    +380979905219</br>
                    +380951210446Б</br></br>
                    sauto@mail.ua</div>
                    <p class="l1">Автозапчастини</p>
                    <p class="l2">в наявності</p>
                    <p class="l3">та під замовлення</p>
                </div>
            </header>

<!-- Header and social block template -->
