<!-- Help content template -->

    <div class="content" id="contentHelp">
        <h2>Допомога</h2>
        <h5>1 Завантаження файлів для промоцій та статей</h5>
        <img src="help/help_managefiles.png" />
        <ul>
            <li>Додайте файли</li>
            <li>Натисніть "завантажити додані файли"</li>
            <li>Оновіть сторінку, щоб додані файли появились у списку зліва (незабаром цього не потрібно буде)</li>
            <li>Клікніть по назві файлу зі списку щоб вибрати необхідний файл для вставки в текст статті чи промоції</li>
            <li>Скопіюйте джерело файлу. Його необхідно буде вставити в поле "Джерело текстового редактора" - див. пункт "Редагування тексту"</li>
        </ul>
        <h5>1 Додавання та редагування зображень в тексті</h5>
        <img src="help/help_editimage.png" />
        <ul>
            <li>Якщо бажаєте додати нове зображення то клікніть щоб поставити курсор в необхідному місті. Якщо редагувати існуюче - то виділіть його</li>
            <li>Натисніть іконку з зображенням картинки</li>
            <li>Вставте або відредагуйте джерело зображення (див пункт "Завантаження файлів для промоцій та статей")</li>
            <li>Додатково можна задати розмір та відступи (див вкладку "Розширені"). Розміри також можна буде пізніше відредагувати за допомогою мишки</li>
            <li>Додайте чи відредадагуйте текст якщо необхідно</li>
            <li>Натисніть кнопку "Зберегти зміни"</li>
            <li>Зміни появляться на сайті</li>
        </ul>
    </div>

<!-- Help content template -->
