<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><?=$title?></title>
        <link rel="stylesheet" type="text/css" href="styles/main.css">
        <link rel="image_src" href="styles/images/sociallogo.png" />
        <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    </head>
    <body>
        <? include('socialinit.tmpl'); ?>
        <? include('googleanalytics.tmpl'); ?>
        <div id="mainWrapper">
            <? include('header.tmpl'); ?>
            <? include('mainmenu.tmpl'); ?>
            <? include($content_tmpl.'.tmpl'); ?>
            <? include('footer.tmpl'); ?>
        </div>
    </body>
</html>