<!-- Index content template (3 columns) -->

            <div class="gradientH" id="contentPartners">
                <? include('sidepartners.tmpl'); ?>
            </div>
            <section id="sectionMain">
            <!-- MAIN SECTION -->
                <? include($maincontent_tmpl.'.tmpl'); ?>
            <!-- END OF MAIN SECTION -->
            </section>
            <div id="contentNews">
                <? include('sidenews.tmpl'); ?>
            </div>

<!-- Index content template (3 columns) -->
