<!-- Main menu template -->

            <nav class="navMenu" id="menuBlock1">
                <a class="menu <? if ($mainmenuindex == 3) { echo 'menuSelected'; } ?>" id="menuHot" href="index.php">Головна</a>
                <a class="menu <? if ($mainmenuindex == 1) { echo 'menuSelected'; } ?>" id="menuAbout" href="about.php">Про нас</a>
                <a class="menu <? if ($mainmenuindex == 2) { echo 'menuSelected'; } ?>" id="menuShop" href="shop.php">Магазин</a>
                <a class="menu <? if ($mainmenuindex == 6) { echo 'menuSelected'; } ?>" id="menuCatalog" href="catalog.php">Каталог запчастин</a>
                <a class="menu <? if ($mainmenuindex == 4) { echo 'menuSelected'; } ?>" id="menuDelivery" href="delivery.php">Оплата і доставка</a>
                <a class="menu <? if ($mainmenuindex == 5) { echo 'menuSelected'; } ?>" id="menuArticles" href="articles.php">Статті</a>
            </nav>
            <nav class="navMenu" id="menuBlock2">
                <a class="menu <? if ($mainmenuindex == 10) { echo 'menuSelected'; } ?>" id="menuOrder" href="orderonline.php">Замовлення on-line</a>
                <a class="menu <? if ($mainmenuindex == 20) { echo 'menuSelected'; } ?>" id="menuIcars" href="ordericars.php">Замовлення iCars</a>
                <a class="menu <? if ($mainmenuindex == 30) { echo 'menuSelected'; } ?>" id="menuPolcar" href="orderpolcar.php">Замовлення Polcar</a>
                <a class="menu <? if ($mainmenuindex == 40) { echo 'menuSelected'; } ?>" id="menuAutopartner" href="orderautopartner.php">Замовлення Autopartner</a>
            </nav>

<!-- Main menu template -->