<!-- Side Tire (banner to tire) -->

    <span class="sideHeader">Шиномонтаж</span>
    <aside>
        <div class="gradientH" id="sideTire">
            <a id="advTire" href="tire.php" alt="шиномонтаж">шиномонтаж</a>
        </div>
    </aside>

<!-- Side Tire (banner to tire) -->
