<!-- Side Partners (list of partners buttons - links to their sites) -->

    <span class="sideHeader">Наші партнери</span>
    <aside>
        <div class="gradientH" id="sidePartners">
            <a class="advPartners" id="advIntercars" href="http://www.intercars.com.pl/" target="_blank" alt="Inter Cars SA">Inter Cars SA</a>
            <a class="advPartners" id="advPolcar" href="http://www.polcar.com/" target="_blank">polcar</a>
            <a class="advPartners" id="advAutopartner" href="http://www.autopartner.pl/" target="_blank" alt="AUTO-PARTNER">AUTO-PARTNER</a>
            <a class="advPartners" id="advIntervito" href="http://www.intervito.com.pl/" target="_blank" alt="INTERVITO">INTERVITO</a>
            <a class="advPartners" id="advVemapol" href="http://www.vemapol.pl/ru/" target="_blank" alt="Vema-Pol">Vema-Pol</a>
            <a class="advPartners" id="advMotogama" href="http://www.motogama.pl/" target="_blank" alt="MOTOGAMA">MOTOGAMA</a>
            <a class="advPartners" id="advAutoGietka" href="http://www.auto-gietka.pl/" target="_blank" alt="Export Import Jacek Gietka">Export Import Jacek Gietka</a>
            <a class="advPartners" id="advEMoto" href="http://www.e-moto.net.pl/" target="_blank" alt="E-MOTO">E-MOTO</a>
        </div>
    </aside>

<!-- Side Partners (list of partners buttons - links to their sites) -->
