<!-- Social Panel template -->

    <!-- temporary disabled <div class="fb-like" data-href="<?=curPageURL()?>" data-send="true" data-width="600" data-show-faces="false"></div>
    <div id="vk_like"></div>
    <script type="text/javascript">
        VK.Widgets.Like('vk_like');
    </script> -->

<!-- Social initialization template -->
