<!-- TextEditor content template -->

        <script src="/tinymce/tinymce.min.js"></script>
        <script>
                tinymce.init({
                    selector:'#TextArea',
                    plugins: [
                        "advlist autolink lists link image charmap print preview hr anchor pagebreak",
                        "searchreplace wordcount visualblocks visualchars code fullscreen",
                        "insertdatetime media nonbreaking save table contextmenu directionality",
                        "emoticons template paste textcolor"
                    ],
                    toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
                    toolbar2: "print preview media | forecolor backcolor emoticons",
                    image_advtab: true,
                    language_url: 'uk.js'
                });
        </script>

    <div class="textEditor" id="textEditor">
        <form action="updatetext.php" method="post">
            <div class="buttonsMenu">
                <input type="checkbox" name="arch" value="yes">&nbsp;Зробити копію перед збереженням?</td>
                <input type="hidden" name="redirecturl" value="<?=$redirecturl?>">
                <input type="submit" value="Зберегти зміни">
            </div>
            <div class="info">
                <? if ($_POST['arch'] == 'yes') { echo '<span class="info">копію зроблено успішно</span>'; } ?>
                <? if ($_POST['save'] == 'yes') { echo '<span class="info">зміни збережено</span>'; } ?>
            </div>
            <textarea name="editText" id="TextArea"><?=$textcontent?></textarea>
        </form>
    </div>

<!-- TextEditor content template -->
