body {height: 100%; font-family: Verdana, Arial; margin: 0; padding: 0; font-size: 14px;
background: url("images/hodova.png") repeat #ecf0f1; /* Old browsers */
  height: 100%;
  width: 100%;
}
#mainWrapper {width: 1074px;  margin: 0 auto; background-color: transparent; overflow: hidden;}
#logoMain {background: url("images/logo.png") no-repeat white; height: 188px; width: 1024px; float: left;}
.menu {float: left; padding: 3px 15px; opacity: 0.6; font-size: 14px; margin-right: 5px; background-color: white; border-radius: 3px; border-bottom-style: solid; border-bottom-width: 5px; background-color: #ddd;}
.menu:hover {cursor: pointer; opacity: 1.0;}
.menuSelected {opacity: 1.0; font-weight: bold; background-color: white;}
a.menu, a.menu:focus, a.menu:active, a.menu:hover {text-decoration: none; text-align: center;}
a.menu:hover {text-decoration: none; font-weight: bold;}
.navMenu {float: left; background-color: #eeeeee; width: 1014px; padding: 5px; border-top: solid 1px #95a5a6;}
#menuBlock1 {background: url("images/wheels.png") no-repeat #eeeeee 820px -147px;}
#menuBlock2 {border-bottom: solid 2px #95a5a6; background: url("images/wheels.png") no-repeat #eeeeee 10px -60px;}
#sideAdv {float: left; width: 210px; padding: 15px 5px 5px 5px; border-right: dotted 1px #95a5a6; background: url("images/accum.png") no-repeat 120px 60px #ecf0f1;}
#sideNews {padding: 15px 5px 5px 5px; border: dotted 1px #95a5a6; border-radius: 6px; background: url("images/engine2.png") no-repeat 0 0 #eee; font-size: 12px; margin: 10px 5px 10px 5px;}
#sideNews .date {font-weight: bold;}
#sectionMain {width: 764px; float: left; padding: 0; background-color: #e5e5e5; color: #333; margin: 0;}
a, a:focus, a:active, a:hover {text-decoration: underline; color: #2b1b17;}
a:hover {text-decoration: none; color: #b1b1b1;}

.content {padding: 15px 25px; background-color: white; color: #333; margin: 10px 5px; border-radius: 6px; border: 1px solid #ddd;}
#contentNews {background-color: #e5e5e5; float: left; width: 260px; }
#contentHot {background: url("images/hodova.png") no-repeat 374px -20px white;}
#contentHot h1 {border-bottom: solid 2px #9b59b6; padding: 0; margin: 0;}
#contentAbout {background: url("images/krylo.png") no-repeat 374px 10px white;}
#contentAbout h1 {border-bottom: solid 2px #1abc9c; padding: 0; margin: 0;}

#menuAbout {border-bottom-color: #1abc9c;}
#menuOrder {border-bottom-color: #2ecc71;}
#menuShop {border-bottom-color: #3498db;}
#menuHot {border-bottom-color: #9b59b6;}
#menuDelivery {border-bottom-color: #34495e;}
#menuManual {border-bottom-color: #7f8c8d;}
#menuIcars {border-bottom-color: #e74c3c; width: 295px;}
#menuPolcar {border-bottom-color: #d35400; width: 295px;}
#menuAutopartner {border-bottom-color: #2980b9; width: 295px;}

#socialBlock {width: 50px; height: 500px; float: right; position: relative; background: transparent;}
.social {width: 40px; height: 30px; background-color: navy; color: white; opacity: 0.8; font-weight: bold;}
.social:hover {opacity: 1.0; width: 47px; cursor: pointer;}
#socialFB {position: absolute; top: 300px;}
#socialVK {position: absolute; top: 333px;}
#socialO {position: absolute; top: 366px;}
#socialt {position: absolute; top: 399px;}

.itemNewsShort {padding: 0 0 5px 0; border-bottom: solid 1px #34495e; margin-bottom: 10px;}
.itemNewsShort a {font-size: 10px;}

#advPrivat24 {background: url("images/privat24.png") no-repeat #e5e5e5 5px 8px; height: 50px; width: 200px; margin: 0 0 5px 0;}
#advHusky {background: url("images/husky.png") no-repeat #ffffff 10px 8px; height: 50px; width: 200px; margin: 0 0 5px 0;}
#advZoreslav {background: url("images/zoreslav.png") no-repeat #ffffff; height: 50px; width: 190px; margin: 0 0 5px 0;}
#advMeat {background-color: #e74c3c; height: 90px; width: 160px; margin: 0 0 5px 0;}
#advAutopartner {background-color: #cccccc; height: 90px; width: 160px; margin: 0 0 5px 0;}

#sectionMain h1 {font-size: 20px;}

#footerMain {width: 1024px; height: 60px; float: left; border-top: solid 2px #95a5a6; background: url("images/bumper.png") no-repeat 710px -68px #95a5a6;}
.copyText {display: block; float: right; font-size: 10px; padding: 5px; color: #eeeeee;}