<!-- Content Hot template (view as grid) -->

                        <div id="subMenu">
                            <a class="menu" href="index.php?view=list">списком</a>
                            <a class="menu menuSelected" href="index.php?view=grid">детально</a>
                        </div>
                        <div style="clear: both;"></div>
                        <img src="promo/kyb.jpg" alt="KYB"/>
                        <p>&nbsp;</p>

<!-- Content Hot template (view as grid) -->
