<!-- About content template -->

                <div class="content" id="contentOrder">
                    <div class="fb-like" data-href="<?=curPageURL()?>" data-send="true" data-width="600" data-show-faces="true"></div>
                    <header><h1><?=$_order_titles[$order_index]?></h1></header>
                        <div class="orderForm">
                            <form action="orderresult.php">
                                <input type="hidden" name="order" value="<?=$_GET['order']?>">
                                <input type="submit" value="Зробити замовлення">
                            </form>
                        </div>
                </div>

<!-- About content template -->
