<!-- About content template -->

                <div class="content" id="contentOrder">
                    <header><h1><?=$_order_titles[$order_index]?></h1></header>
                        <p>Дякуємо за замовлення!</p>
                </div>

<!-- About content template -->
