<!-- Delivery and payment content template -->

                <div class="content" id="contentDelivery">
                    <h2>Оплата та Доставка товару здійснюється наступним шляхом:</h2>
                    <h3>Оплата:</h3>
                    <p>Оплата здійснюється шляхом переказу готівки на картки зазначених нижче банків або шляхом грошового переказу.</p>
                    <table class="data">
                        <tr class="odd">
                        <td><img src="styles/images/privat.png"/></td><td>Переказом на карту «ПриватБанку» <a href="www.privatbank.ua">www.privatbank.ua</a></td>
                        </tr>
                        <tr>
                        <td><img src="styles/images/nadra.png"/></td><td>Переказом на карту «НадраБанк» <a href="www.nadra.com.ua">www.nadra.com.ua</a></td>
                        </tr>
                        <tr class="odd">
                        <td><img src="styles/images/ccb.png"/></td><td>Переказом на карту «СітіКомерцБанку»;<br/>Переказом «CITY COMMERCE EXPRESS»
                        <a href="www.citycommercebank.com">www.citycommercebank.com</a></td>
                        </tr>
                    </table>
                    <h3>Доставка:</h3>
                    <p>Доставка здійснюється після 100% попередньої оплати товару згідно зробленого замовлення. Після доставки, Товар необхідно буде забрати самостійно в офісі-представництва перевізника (ми здійснюємо доставку склад-склад).</p>
                    <p>Вартість доставки залежить від типу та вартості товару згідно тарифів служб доставки.</p>
                    <p>Партнерам Компанії SAUTO надаються знижки, щодо оплати послуг перевізників.</p>
                    <h3>Доставка здійснюється наступними службами перевезень:</h3>
                    <table class="data">
                        <tr class="odd">
                        <td><img src="styles/images/np.png"/></td><td>«Нова Пошта» <a href="www.novaposhta.com.ua">www.novaposhta.com.ua</a></td>
                        </tr>
                        <tr>
                        <td><img src="styles/images/autolux.png"/></td><td>«Автолюкс» <a href="www.autolux.ua">www.autolux.ua</a></td>
                        </tr>
                        <tr class="odd">
                        <td><img src="styles/images/me.png"/></td><td>«Міст Експрес» <a href="www.meest-express.com.ua">www.meest-express.com.ua</a></td>
                        </tr>
                        <tr>
                    </table>
                </div>

<!-- Delivery and payment content template -->
