<!-- Articles content template (short view and pagination) -->

        <div class="content" id="contentArticles">
            <div class="fb-like" data-href="<?=curPageURL()?>" data-send="true" data-width="600" data-show-faces="true"></div>
                <? if ($_GET['article'] == '') { ?>
                    <header><h1>Статті</h1></header>
                    <? foreach ($articles as $article) { ?>
                        <article class="itemNewsShort2">
                            <? include('articles/'.$article.'_short.htm'); ?>
                        </article>
                    <? } 
                } else { ?>
                        <p><a href="articles.php">Всі статті</a> Попередня: <a href="#">стаття 1</a>  Наступна: <a href="#">стаття 1</a></p>
                        <? include('articles/'.$_GET['article'].'.htm'); ?>
                        <p><a href="articles.php">Всі статті</a> Попередня: <a href="#">стаття 1</a>  Наступна: <a href="#">стаття 1</a></p>
                <? } ?>
        </div>

<!-- Articles content template (short view and pagination) -->
