<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><?=$title?></title>
        <link rel="stylesheet" type="text/css" href="styles/main.css">
    </head>
    <body>
        <? include('socialinit.tmpl'); ?>
        <img src="styles/images/sociallogo.png" style="display: none; width: 1px; height: 1px;"/>
        <div id="mainWrapper">
            <? include('header.tmpl'); ?>
            <? include('mainmenu.tmpl'); ?>
            <? include($content_tmpl.'.tmpl'); ?>
            <? include('footer.tmpl'); ?>
        </div>
    </body>
</html>