<!-- Short content template (only 1 column) -->

            <div class="gradientH" id="contentPartners">
                <? include('sidepartners.tmpl'); ?>
            </div>
            <section id="sectionMain2">
            <!-- MAIN SECTION -->
                <? include($maincontent_tmpl.'.tmpl'); ?>
            <!-- END OF MAIN SECTION -->
            </section>

<!-- Short content template (only 1 column) -->
