<!-- Short content template (only 1 column) -->

            <section id="sectionMain2">
            <!-- MAIN SECTION -->
                <? include($maincontent_tmpl.'.tmpl'); ?>
            <!-- END OF MAIN SECTION -->
            </section>

<!-- Short content template (only 1 column) -->
