<!-- Side News (5 last articles) -->

    <aside id="sideNews">
        <? $i = 0;
        foreach ($articles as $article) { 
            $i++;
            if ($i <= $_side_articles_count) { ?>
                <article class="itemNewsShort gradient">
                    <? include('articles/'.$article.'_short.htm'); ?>
                </article>
            <? } ?>
        <? } ?>
        <a href="articles.php">всі статті</a>
    </aside>

<!-- Side News (5 last articles)  -->
