<!-- Side Partners (list of partners buttons - links to their sites) -->

    <aside id="sidePartners">
        <p>Partners list</p>
    </aside>

<!-- Side Partners (list of partners buttons - links to their sites) -->
