<!-- Side Partners (list of partners buttons - links to their sites) -->

    <aside id="sidePartners">
        <h1>Партнери:</h1>
        <a href="http://www.intercars.com.pl/" target="_blank">intercars</a>
        <a href="http://www.polcar.com/" target="_blank">polcar</a>
        <a href="http://www.autopartner.pl/" target="_blank">autopartner</a>
        <a href="http://www.intervito.com.pl/" target="_blank">intervito</a>
        <a href="http://www.vemapol.pl/ru/" target="_blank">vemapol</a>
        <a href="http://www.motogama.pl/" target="_blank">motogama</a>
        <a href="http://www.auto-gietka.pl/" target="_blank">auto-gietka</a>
        <a href="http://www.e-moto.net.pl/" target="_blank">e-moto</a>
    </aside>

<!-- Side Partners (list of partners buttons - links to their sites) -->
