<!-- Side News (5 last articles) -->

    <aside id="sideNews">
        <? foreach ($articles as $article) { ?>
            <article class="itemNewsShort gradient">
                <? include('articles/'.$article.'_short.htm'); ?>
            </article>
        <? } ?>
        <a href="articles.php">всі статті</a>
    </aside>

<!-- Side News (5 last articles)  -->
